

*{
    margin: 0;
    padding: 0;
}
body{
  width: 100%;
}

/* music */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

#Audio-Control {
  overflow: hidden;
}

#Audio-Control button {
  border: 1px solid #ccc;
  width: 40px;
  float: left;
  padding: 5px 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-family: 'DotGothic16', sans-serif;
}

#Audio-Control button.on {
  border-left: none;
}

#Audio-Control button.off {
  border-right: none;
}

#Audio-Control button.active {
  background: #ccc;
}

#Audio-Control button:not(.active):hover {
  background: rgba(204, 204, 204, 0.3);
}


/* whitebar */
.white-bar{
  background: #f9f9f9;
  position: fixed;
  width: 5%;
  height: 100vh;
}
#white-bar2{
  margin-left: 95%;
}


/* all */
.all{
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  color: #444a6d;
  font-family: 'Noto Sans JP', sans-serif;
}
h2,
h3,
h4{
  font-family: 'DotGothic16', sans-serif;
}
h2{
  font-size: 50px;
}
h3{
  font-size: 30px;
}
/* top */
.top{
  /* background-color: #444a6d; */
  width: 100%;
  height: 100vh;
  position: relative;
}
.top:before{
  /*header の疑似要素に背景画像を指定*/
content:"";
position:fixed;
top:0;
left:0;
z-index:-1;
width:100vw;
height: 100vh;
/*背景画像設定*/
background:url("/images/00_top.png") no-repeat center;
background-size:cover;
}

.top img{
  width: 20%;
}
/* content */
.content{
  position: relative;
  z-index: 1;
}
/* intro */
.intro{
  width: 100%;
  height: 100vh;
  background-color: #abdcd6;
  font-size: 20px;
  text-align: center;
}
.intro p{
  text-align: left;
  margin-top: 10px;
  margin-left: 10%;
}
#co-1{
width: 80vw;
margin-top: 20px;
background-color: #444a6b;
}
#co-2{
  width: 20vw;
}
/* ready */
.ready{
  height: 100vh;
  background-color: #fffce1;
  background-image: url();
}
.ready-00{
  width: 50%;
  margin-left: 10%;
}
#ready-01{
  float: left;
}
#ready-02{
}
.plugin{
  background-color: #abdcd6;
  border-radius: 15px;
}

/* fight */
.fight{
  height: 80vh;
  background-color: #444a6b;
  text-align: center;
}
#co-3{
  margin-top: 0px;
  width: 20vw;
}
#co-4{
  width: 70vw;
}

/* create */
.create{
  background-color: #fffce1;
  text-align: center;
}
.cre-01{
  height: 80vh;
}
.cre-01 img{
  width: 60%;
}
.cre-02{
  height: 120vh;
}
.cre-03{
  height: 50vh;
}
/* end */
.end{
  height: 50vh;

}

.end ,
footer{
  background-color: #abdcd6;
}

.nami{
  width: 100%;
}



img {
  pointer-events: none; 
}

/* ここからスマホ版 */
@media(max-width: 450px){
.intro p{
  font-size: 10px;
}

.fight{
  height: 20vh;
}
}